In [11]:
import pandas as pd

In [12]:
dp03_raw_df = pd.read_csv('Raw Data/dp03_raw_data.csv')
dp05_raw_df = pd.read_csv('Raw Data/dp05_raw_data.csv')

C:\Users\joshu\AppData\Local\Temp\ipykernel_11656\3584883252.py:1: DtypeWarning: Columns (3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,37,38,39,40,41,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,59,60,61,62,63,64,65,67,68,69,70,71,72,73,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,103,104,105,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,251,252,255,256,257,258,259,260,263,264,265,266,267,268,271,272,273,274,275,276,279,280,281,282,287,288,289,290,295,296,297,298,299,300,301,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,345,346,347,348,351,352,355,356,358,361,362,365,366,367,368,371,372,375,376,379,380,381,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,403,404,405,406,407,408,409,411,412,413,415,416,417,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,477,478,481,482,485,486,489,490,493,494,497,498,499,500,505,506,513,514,517,518,521,522,525,526,529,530,533,534,537,538,541,542,545,546,549,550) have mixed types. Specify dtype option on import or set low_memory=False.
  dp03_raw_df = pd.read_csv('Raw Data/dp03_raw_data.csv')
C:\Users\joshu\AppData\Local\Temp\ipykernel_11656\3584883252.py:2: DtypeWarning: Columns (3,4,5,7,8,9,11,12,13,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,35,36,37,39,40,41,43,44,45,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,75,76,77,78,79,80,81,82,83,84,85,87,88,89,90,91,92,93,94,95,96,97,99,100,101,103,104,105,107,108,109,111,112,113,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,331,332,335,336,339,340,352,353,354,355,357,358,359,360,361) have mixed types. Specify dtype option on import or set low_memory=False.
  dp05_raw_df = pd.read_csv('Raw Data/dp05_raw_data.csv')

In [13]:
dp03_raw_df.shape

(41869, 553)

In [14]:
dp05_raw_df.shape

(633878, 372)

In [15]:
# Remove extra rows in dp05_df that contain "Census Tract" in the "NAME" column. Should just have one row per state county
dp05_raw_df = dp05_raw_df[~dp05_raw_df['NAME'].str.contains('Census Tract')]

In [16]:
dp05_raw_df.shape

(41869, 372)

In [17]:
dp03_raw_df.head()

,Unnamed: 0,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,...,DP03_0136E,DP03_0136M,DP03_0136PE,DP03_0136PM,DP03_0137E,DP03_0137M,DP03_0137PE,DP03_0137PM,Unnamed: 550,Census Year
0,0,Geography,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate Margin of Error!!EMPLOYMENT STATUS!!P...,Percent!!EMPLOYMENT STATUS!!Population 16 year...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,Estimate!!EMPLOYMENT STATUS!!In labor force,Estimate Margin of Error!!EMPLOYMENT STATUS!!I...,Percent!!EMPLOYMENT STATUS!!In labor force,...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate Margin of Error!!PERCENTAGE OF FAMILI...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate Margin of Error!!PERCENTAGE OF FAMILI...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,NaN,2010
1,1,0500000US01001,"Autauga County, Alabama",40330,135,40330,(X),26635,514,66.0,...,(X),(X),8.4,1.4,(X),(X),25.3,3.8,NaN,2010
2,2,0500000US01003,"Baldwin County, Alabama",139777,313,139777,(X),84253,1300,60.3,...,(X),(X),10.7,1.2,(X),(X),20.9,1.7,NaN,2010
3,3,0500000US01005,"Barbour County, Alabama",22193,90,22193,(X),10966,523,49.4,...,(X),(X),21.3,2.9,(X),(X),43.8,6.0,NaN,2010
4,4,0500000US01007,"Bibb County, Alabama",17963,182,17963,(X),10806,531,60.2,...,(X),(X),10.6,3.2,(X),(X),28.5,6.9,NaN,2010

In [18]:
dp05_raw_df.head()

,Unnamed: 0,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,...,Unnamed: 358,DP05_0090E,DP05_0090M,DP05_0091E,DP05_0091M,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
0,0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate Margin of Error!!SEX AND AGE!!Total p...,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Male,Estimate Margin of Error!!SEX AND AGE!!Male,Percent!!SEX AND AGE!!Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0500000US01001,"Autauga County, Alabama",53155,*****,53155,(X),25780,113,48.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0500000US01003,"Baldwin County, Alabama",175791,*****,175791,(X),85902,96,48.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0500000US01005,"Barbour County, Alabama",27699,*****,27699,(X),14652,98,52.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0500000US01007,"Bibb County, Alabama",22610,*****,22610,(X),12162,163,53.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:


census_df = pd.concat()

In [3]:
# Split the name column to break up the State and County name
name_split = census_df['NAME'].str.split(',', expand=True)
name_split = census_df['NAME'].str.split(',', expand=True)

# Rename the columns and reorder so state goes before county
name_split.rename(columns={0:'County',1:'State'},inplace=True)
reordered_columns = name_split[['State','County']]

# Add the new columns to the census_df and drop the old columns
census_df = pd.concat([reordered_columns, census_df], axis=1)
census_df = census_df.drop(columns=['Unnamed: 0','NAME'])
census_df.head()

# Move Geo_ID to the front
column_to_move = 'GEO_ID'
moved_column = census_df.pop(column_to_move)
census_df.insert(0,column_to_move,moved_column)
census_df.head()

,GEO_ID,State,County,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,...,Unnamed: 358,DP05_0090E,DP05_0090M,DP05_0091E,DP05_0091M,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
0,Geography,None,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate Margin of Error!!EMPLOYMENT STATUS!!P...,Percent!!EMPLOYMENT STATUS!!Population 16 year...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,Estimate!!EMPLOYMENT STATUS!!In labor force,Estimate Margin of Error!!EMPLOYMENT STATUS!!I...,Percent!!EMPLOYMENT STATUS!!In labor force,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0500000US01001,Alabama,Autauga County,40330,135,40330,(X),26635,514,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0500000US01003,Alabama,Baldwin County,139777,313,139777,(X),84253,1300,60.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0500000US01005,Alabama,Barbour County,22193,90,22193,(X),10966,523,49.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0500000US01007,Alabama,Bibb County,17963,182,17963,(X),10806,531,60.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# We want to remove the margin of error columns and just focus on the census estimate amounts
# Create a list of columns that end with 'M'
margin_columns = [col for col in census_df.columns if col.endswith('M')]

# Drop the margin columns from census_df
census_df = census_df.drop(margin_columns, axis=1)
census_df.head()

,GEO_ID,State,County,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,...,DP03_0129PE,DP03_0130PE,DP03_0131PE,DP03_0132PE,DP03_0133PE,DP03_0134PE,DP03_0135PE,DP03_0136PE,DP03_0137PE,Unnamed: 550
0,Geography,None,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,NaN
1,0500000US01001,Alabama,Autauga County,43368,25736,25189,24124,1065,547,17632,...,22.7,22.7,17.7,24.3,13.0,14.0,8.7,14.0,24.3,NaN
2,0500000US01003,Alabama,Baldwin County,167712,98030,97722,93379,4343,308,69682,...,13.4,13.2,15.4,12.4,9.8,10.4,8.0,7.9,23.2,NaN
3,0500000US01005,Alabama,Barbour County,20948,9638,9638,8720,918,0,11310,...,47.6,47.6,59.9,43.4,23.1,25.4,16.2,27.8,34.4,NaN
4,0500000US01007,Alabama,Bibb County,18470,8757,8757,8099,658,0,9713,...,20.2,19.6,14.1,21.7,12.2,13.3,8.1,11.3,31.9,NaN

In [5]:
# Check amount of rows and columns
census_df.shape

(16109, 278)